@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,900;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #eee;
  background-color: #0b0030;
}

marquee {
  background-color: rgba(20, 20, 20, 0.7);
  padding: 2px;
  font-weight: bolder;
  position: fixed;
  top: 0;
}

.container {
  min-width: 300px;
  display: grid;
  grid-template-columns: 2fr 6fr;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(23, 5, 73);
  padding: 20px;
  height: 100%;
  min-height: 100vh;
  min-width: 280px;
}

.header-logo {
  margin: 50px 0;
  width: 100%;
}

header h1 {

  font-size: 1.7rem;
  font-weight: 900;
  text-align: center;
}

.header-container {
  text-align: center;
}

.actual-page {
  color: rgb(216, 143, 245);
}

.nav-items {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

nav ul {
  display: grid;
  padding: 5px;
  gap: 10px;
  text-align: center;
  list-style: none;
  width: 80%;
}

nav ul a {
  background-color: #3d2296;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
}

nav ul a:hover {
  text-decoration: none;
  color: rgb(156, 119, 243);
}

.link-cleaner {
  color: inherit;
  text-decoration: none;
}

.page-return {
  color: rgb(107, 56, 224);
}

.page-return:hover {
  color: rgb(216, 143, 245);
}

section {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  
}

.section-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  height: 50%;
}

.article-read-container {
  width: 80%;
  font-size: 18px;
}

.article-read-container video {
  width: 75%;
}

.article-read-container h2, .article-read-container h5 {
  padding: 10px 0;
}

.article-read-container p, .article-read-container h3 {
  padding: 15px 0;
}

.article-image {
  padding: 15px;
  width: 80%;
}

section article {
  padding: 15px;
  border-radius: 5px;
  background-color: #190655;
  width: 90%;
}

section article:hover {
  box-shadow: 4px 4px 2px black;
}

section article h2 {
  padding-bottom: 10px;
}

section article h5 {
  color: #aaa;
  padding-bottom: 20px;
}

.table-title {
  text-align: center;
  margin-bottom: 10px;
}

tr, td, th {
  padding: 6px;
}

.video-align-center {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.form-contact-container {
  background-color: #190655;
  padding: 40px;
  border-radius: 5px;
  height:min-content
}

.form-contact-container h2 {
  text-align: center;
}

.form-contact-container br {
  margin: 20px 0;
}

.form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 20px 0;
}

.form-inputs label {
  font-size: 18px;
}

.form-contact-container .form-btns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgba(20, 20, 20, 0.7);
  padding: 3px;
}